# seaborn

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
# note seaborn has some built in datasets

In [3]:
#total bill vs tip dataset
tips=sns.load_dataset('tips')# to load the built in dataset named tips

In [4]:
tips.head()# this dataset will be imported i form of pandas dataframe

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
#setting the themes for the plot
sns.set_theme()

In [10]:
#visualize the data
sns.relplot(data=tips,x='total_bill',y='tip',col='time',hue='smoker',style='smoker',size='size')#will give us two plots